<template>
  <v-app>
    <v-container fluid>
      <h1 class="mb-4">Vuetify 2 Slider Test</h1>
      <p>Slider component from <a href="https://vuetifyjs.com/en/components/sliders">Vuetify 2.0.15</a>.</p>
      <h3 class="mb-4">No Thumb</h3>
      <v-row>
        <v-col cols="12">
          <v-slider
            v-model="severity"
            label="Severity"
            min="0"
            max="100"
          ></v-slider>
        </v-col>
      </v-row>
      <h3 class="mb-4">Thumb Shown</h3>
      <v-row>
        <v-col cols="12">
          <v-slider
            v-model="severity"
            thumb-label="always"
            label="Severity"
            min="0"
            max="100"
          ></v-slider>
        </v-col>
      </v-row>
  </v-container>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: () => ({
    severity: 50
  })
};
</script>
